table,td,th{
    border: 1px solid black;
    text-align: center;
    padding: 7px;
    font-size:20px;
}

td button {
    padding: 7px;
    font-size: 20px;
    background-color: rgb(255, 182, 46);
    margin: 5px;
}