<!-- ****** reactive form ********* -->
<div class="adWrapper ">
    <h2>Add your advertisement</h2>
    <form [formGroup]="advertform" (ngSubmit)="onSubmit(advertform.value)" novalidate>
        <div class="form-group col-md-10">
            <label for="title">Title: </label>
            <input [class.is-invalid]="advertform.get('title').invalid && advertform.get('title').touched" type="text" formControlName="title" name="title" id="title" class="form-control">
            <div *ngIf="advertform.get('title').invalid && advertform.get('title').touched">
                <small class="text-danger" *ngIf="advertform.get('title').errors.required">Title is required</small>
                <small class="text-danger" *ngIf="advertform.get('title').errors.minlength">Title must be atleast 5 characters</small>
            </div>
        </div>

        <div class="form-group col-md-10"> 
            <label for="name">Name: </label>
            <input [class.is-invalid]="advertform.get('name').invalid && advertform.get('name').touched" type="text" formControlName="name" name="name" id="name" class="form-control">
            <small [class.d-none]="advertform.get('name').valid || advertform.get('name').untouched"  class="text-danger">Name is required</small>
        </div>

        <div class="form-group col-md-10">
            <label for="category">Category: </label> &nbsp;
            <select  formControlName="category" name="category" id="category" [class.is-invalid]="advertform.get('category').invalid && advertform.get('category').touched">
                <option  disabled> Select category</option>
                <option *ngFor="let category of categories" [value]="category">
                    {{category}}
                </option>
            </select> <br>
            <small [class.d-none]="advertform.get('category').valid || advertform.get('category').untouched"  class="text-danger">Please choose a category</small>
        </div>

        <div  class="form-group col-md-10">
            <label for="description">Description: </label>
            <input [class.is-invalid]="advertform.get('description').invalid && advertform.get('description').touched" type="text"  formControlName="description" name="description" id="description" class="form-control">
            <small [class.d-none]="advertform.get('description').valid || advertform.get('description').untouched"  class="text-danger">Description is required</small>
        </div>

        <button [disabled]="advertform.invalid" class="btn btn-primary">Submit advertisement</button>
    </form>
</div>
<app-advertisement-table-component></app-advertisement-table-component>













<!-- ********template driven form********* 

     <div class="adWrapper ">
    <h2>Add your advertisement</h2>
    <form #adForm="ngForm" (ngSubmit)="onSubmit(adForm.value)" novalidate>
        <div class="form-group col-md-10">
            <label for="title">Title: </label>
            <input type="text"  #title="ngModel" name="title" id="title" [class.is-invalid]="title.invalid && title.touched" class="form-control" [ngModel] required>
            <small class="text-danger" [class.d-none]="title.valid || title.untouched" >Title is required</small>
        </div>
        <div class="form-group col-md-10"> 
            <label for="name">Name: </label>
            <input type="text" #name="ngModel" name="name" id="name" [class.is-invalid]="name.invalid && title.touched" class="form-control" [ngModel] required>
            <small class="text-danger" [class.d-none]="name.valid || name.untouched" >Name is required</small>
        </div>
        <div class="form-group col-md-10">
            <label for="category">Category: </label>
            <select #category="ngModel" name="category" id="category" [class.is-invalid]="category.invalid && category.touched" [ngModel] required>
                <option  disabled>Select category</option>
                <option *ngFor="let category of categories" [value]="category">
                    {{category}}
                </option>
            </select> <br>
            <small class="text-danger" [class.d-none]="category.valid || category.untouched">Please choose a category</small>
        </div>
        <div  class="form-group col-md-10">
            <label for="description">Description: </label>
            <input type="text" #description="ngModel" name="description" id="description" [class.is-invalid]="name.invalid && title.touched" class="form-control" [ngModel] required>
            <small class="text-danger"  [class.d-none]="description.valid || description.untouched">Description is required</small>
        </div>

        <button [disabled]="adForm.form.invalid" class="btn btn-primary">Submit advertisement</button>
    </form>
</div>

 -->
